html {
    font-size: 10px;
}

#Letter-panel {
    display: flex;
    flex-wrap: wrap;
}

.Letter_box {
    cursor: pointer;
    text-align: center;
    background-color: rgb(227, 159, 233);
    border: 1px solid rgb(248, 201, 250);
    border-radius: 5px;
    font-size: 3rem;
    padding: 10px;
    margin: 20px;
    width: 4rem;
    height: 4rem;
}

.Letter_box:hover {
    background-color: rgb(252, 223, 255);
}

.Letter_bank-used {
    font-size: 4rem;
    color: red;
}