<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>hangman</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script type="text/javascript" src="http://livejs.com/live.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="assets/CSS/style.css" />

</head>
<body>
    <h1> Welcome to Hangman !!</h1>

<div id="Letter-panel"></div>

    <script src="assets/js/main.js"></script>
</body>

</html>